# File .env – environment variables

# ==========================================================================================================
# LOGS CONFIGURATION
# ==========================================================================================================

LOGS_MODE=OFF                       # Available modes: OFF, FULL, SHORT, CUSTOM

# Custom logging options (used only when LOGS_MODE=CUSTOM)
LOGS_CUSTOM_OPTIONAL=true/false     # Adds headers, cookies, and query parameters to the custom logger
LOGS_CUSTOM_COLOR=true/false        # Enables log and JSON coloring

# ==========================================================================================================
# TRELLO API KEY & TOKEN
# ==========================================================================================================

TRELLO_API_KEY=yourTrelloApiKey
TRELLO_TOKEN=yourTrelloToken

# ==========================================================================================================
# OTHER VARIABLES
# ==========================================================================================================

TRELLO_ID=yourTrelloID
